.container {
  width: 293px;
  max-width: 293px;
  height: 100%;
  padding-top: 21px;
  padding-left: 22px;
  overflow: hidden;
  &.close {
    max-width: 50px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: -10px;
    .header {
      justify-content: center;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .toggle-btn {
    font-size: 1.6rem;
    padding: 13px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      transition: var(--button-transition);
    }
  }
  p {
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 14px;
  }
}

.actions {
  margin-bottom: 20px;
  text-align: center;
}

.call-btn {
  height: 40px;
  min-width: 130px;
  border-radius: 20px !important;
  color: #ffffff !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  ~ .call-btn {
    margin-left: 10px;
  }
  &.voice-chat {
    background-color: var(--primary-color);
  }
  &.video-call {
    background-color: #d03e13;
  }
  .call-icon {
    font-size: 1.9rem;
    margin-right: 8px;
  }
}
