.container {
  flex: 1;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.notification {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 24px;
}

.header {
  height: 82px;
  background-color: #f4f5f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info {
  .name {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .desc {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--blur-text-color);
  }
}

// Messaging field

.inner {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  position: relative;
  background-image: linear-gradient(45deg, rgba(118, 192,13, 0.5), #ffffff );
}

.msg-field {
  height: 100%;
  max-height: 77vh;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  overflow-x: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: -10px;
  padding-right: 10px;
}

.msg-container {
  display: flex;
  & ~ .msg-container {
    margin-top: 5px;
  }

  &.user-msg {
    flex-direction: row-reverse;
    .msg-avatar {
      margin-right: 0px;
      margin-left: 16px;
    }
    .msg-text {
      white-space: wrap;
      width: fit-content;
      background-color: var(--primary-color);
      color: #ffffff;
      margin-right: 56px;
      margin-left: unset;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      &.first-text {
        margin-right: 0;
        border-top-right-radius: 10px;
      }
      &.last-text {
        border-bottom-right-radius: 10px;
      }
    }
    .msg-time {
      right: 0;
      left: unset;
      transform: translateX(calc(50% - 16px));
    }
  }

  .msg-avatar {
    margin-right: 16px;
  }
  .msg-text {
    max-width: 70%;
    white-space: wrap;
    position: relative;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 15px;
    background-color: var(--background-color);
    margin-left: 56px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    &.first-text {
      margin-left: 0;
      border-top-left-radius: 10px;
    }
    &.last-text {
      border-bottom-left-radius: 10px;
      margin-bottom: 15px;
    }
    .msg-text-content {
      width: 100%;
      word-break: break-all;
    }
  }
  .msg-time {
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    color: var(--blur-text-color);
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

// Reply field

.reply-field {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 7px 7px 7px 20px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  &:has(> input:focus) {
    border: 1px solid var(--primary-color);
  }
}

.reply-input {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 500;
}

.reply-btns {
  position: relative;
  color: var(--blur-text-color);
  .reply-btn {
    padding: 10px;
    .icon {
      font-size: 2.2rem;
    }
    &.send-btn {
      background-color: var(--primary-color);
      color: #ffffff;
    }
    & ~ .reply-btn {
      margin-left: 5px;
    }
  }
}

.emoji {
  position: absolute;
  bottom: 85px;
  right: 20px;
}
