.container {
  flex: 1;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(118, 192, 13, 0.1);
  position: relative;
}

.nonchat-bg {
  margin: auto;
  width: 400px;
  border-radius: 50%;
}

.header {
  height: 82px;
  background-color: #f4f5f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info {
  .name {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .desc {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--blur-text-color);
  }
}

// Messaging field

.inner {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  position: relative;
  background-color: #d7fffe;
}

.msg-field {
  height: 100%;
  max-height: 77vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: -12px;
  padding-right: 12px;
  scroll-behavior: smooth;
  &:hover {
    overflow-y: overlay;
    transition: var(--button-transition);
  }
}

// Reply field

.reply-field {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 7px 7px 7px 20px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  &:has(> input:focus) {
    border: 1px solid var(--primary-color);
  }
}

.reply-input {
  height: 100%;
  flex: 1;
  font-size: 1.4rem;
  font-weight: 500;
}

.reply-btns {
  position: relative;
  color: var(--blur-text-color);
  .reply-btn {
    padding: 10px;
    .icon {
      font-size: 2.2rem;
    }
    &.send-btn {
      background-color: var(--primary-color);
      color: #ffffff;
      border-radius: 25px !important;
      font-weight: 500;
      p {
        margin-left: 10px;
      }
    }
    & ~ .reply-btn {
      margin-left: 10px;
    }
    &:hover {
      background-color: var(--primary-color);
      color: #ffffff;
      transition: var(--button-transition);
    }
  }
}

.emoji {
  position: absolute;
  bottom: 85px;
  right: 20px;
}
