.container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.avatar {
  padding: 7px;
  position: relative;
}

.info {
  padding-left: 15px;
  flex: 1;
}

.name {
  font-size: 1.8rem;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.desc {
  font-size: 1.2rem;
  color: var(--blur-text-color);
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.status {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

.logout {
  padding: 15px !important;
}

.icon {
  color: var(--danger-color);
}
