.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 20px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  width: 30px;
  height: 30px;
  &:hover {
    color: red;
  }
}

.content {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
}

.btn-groups {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  min-width: 100px;
  height: 35px;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px !important;
  background-color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
  transition: var(--button-transition);
  & ~ .btn {
    margin-left: 5px;
  }
  &:hover {
    background-color: #f0f0f0;
  }
  &.leave-btn {
    background-color: var(--danger-color);
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: var(--danger-color);
      border-color: var(--danger-color);
    }
  }
}
