.container {
  height: fit-content;
  min-width: 450px;
  background-color: #f4f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-top: 100px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
}

.title {
  color: var(--primary-color);
  font-size: 3rem;
  line-height: 2;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.error-signin-msg {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: red;
}

.form {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  .form-control {
    position: relative;
    label,
    input {
      font-size: 1.6rem;
      font-weight: 500;
    }
    ~ .form-control {
      margin-top: 30px;
    }
    .form-control-icon {
      font-size: 2.5rem;
    }

    .error-msg {
      position: absolute;
      left: 33px;
      bottom: -20px;
      color: red;
      font-size: 1.2rem;
      text-align: left;
    }
  }
  .login-btn {
    height: 50px;
    min-width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 15px;
    margin-top: 30px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 50px;
  }
}

.separate-text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
  .sign-up-nav {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
  }
}

.socials-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .social-login-btn {
    height: 50px;
    width: 50px;
    font-size: 2.5rem;
    font-weight: 500;
    border-radius: 100%;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }

  .facebook {
    color: #1b74e4;
    border: 1px solid #1b74e4;
    &:hover {
      color: #ffffff;
      background-color: #1b74e4;
    }
  }
  .google {
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    &:hover {
      color: #ffffff;
      background-color: var(--danger-color);
    }
  }
}
