.container {
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
}

.tools {
  .btn {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    font-size: 1.2rem;
    & ~ .btn {
      margin-left: 10px;
    }
  }
}

.members {
  overflow-y: hidden;
  transition: var(--button-transition);
  max-height: 0;
  &.show {
    max-height: 255px;
    overscroll-behavior: contain;
    &:hover {
      overflow-y: overlay;
    }
  }
}
